:root{
    --bg: white;
    --fg: rgb(244, 244, 244);
    --accent1: rgb(149, 127, 25);
    --fg2: rgb(233, 230, 219);
    --text: black;
    --text-muted: grey;
}

nav{
    z-index: 12;
    position:absolute;
    display: flex;
    justify-content: center;
    top: 0;
}

body{
    background-color: var(--bg);
    transition: all;
}

h1{
    font-size: 4rem;
    font-weight: bold;
}


.btn{
    background-color: var(--fg2);
    padding: 24px;
    border-radius: 24px;
    width: 20dvh;
    box-shadow: 6px 6px 12px var(--text);
}

.btn a{
    color: var(--text);
    font-weight: bold;
    font-size: large;
}

button:hover{
    scale: 1.1;;
}

.hero{
    text-align: center;
    background-image: url("img/banner.jpg");
    min-height: 100vh;
    object-position: center;
    /* object-fit: cover; */
    background-size: cover;
}

.hero-header{
    font-size: 5rem;
    font-weight: bold;
    color: var(--bg);
    width: 100%;
}

.hero-text{
    color: var(--fg);
    width: 40%;
}

.sec{
    width: 60dvh;
    background-color: var(--fg);
    margin-inline: 8px;
    margin-top: 16px;
    padding: 12px;
    border-radius: 24px;
    
}

.sec h3{
    font-size: 2rem;
    color:var(--text);
    font-weight: bold;
}

.left{
    border-right: 12px solid var(--text);
}

.left h2{
    /* min-width: 50dvh; */
    color: var(--text);
    font-weight: bold;
    font-size: large;
    padding-right: 3rem;
    
}

.brand{
    color: var(--accent1);
    text-shadow: 12px 12px 24px var(--text-muted);
    font-weight: bold;
    font-size: 2rem;
}

.pill{
    background-color: var(--fg2);
    min-width: 30%;
    border-radius: 48px;
    text-align: center;
    box-shadow: 4px 4px 4px var(--text-muted);
}

.pill button{   
    color: black;
    font-size: medium;
    font-weight: lighter;
    /* width: 20%; */
    /* backdrop-filter: blur(12px); */
    padding: 1rem;
}

.pill button:hover{
    scale: 1.1;
}

.active{
    background-color: var(--bg);
    /* border: 2px solid rgba(128, 128, 128, 0.15); */
    box-shadow: 2px 2px 4px var(--text-muted);
    border-radius: 24px;
    
    
}

.prod-display{
    /* background-color: aqua; */
    width: 50dvh;
    /* height: 50dvh; */
    aspect-ratio: 1/1;
    border-radius: 24px;
    box-shadow: 6px 6px 12px var(--text-muted);
}

.prod-display:hover{
    scale: 1.05;
}

.link-show{
    font-size: 1.5rem;
    font-weight: lighter;
    color: var(--accent1);
}


.hidden{
    display: none;
}

@media (max-width: 600px){
    .left h2{
        min-width: 50dvh;
    }

    .hero h1{
        font-size: 2.5rem;
    }

    .hero p{
        display: none;
        width: 80%;
    }

    .header{
    font-size: 2.5rem;
}
}