.hero{
    text-align: center;
    background-image: url("img/banner.jpg");
    height:90dvh;
    object-position: center;
    /* object-fit: cover; */
    background-size: cover;
}

.hero-header{
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.hero-text{
    color: rgb(218, 218, 218);
    width: 30%;
}

.card p{
    width: 80%;
}

.card h3{
    font-size: 2rem;
    color:black;
    font-weight: bold;
}

.left h2{
    width: 30dvh;
    color: black;
    font-weight: bold;
}

.brand{
    ;
}