h1{
    font-size: 4rem;
    font-weight: bold;
}

.hero{
    text-align: center;
    background-image: url("img/banner.jpg");
    min-height: 100vh;
    object-position: center;
    /* object-fit: cover; */
    background-size: cover;
}

.hero-header{
    font-size: 5rem;
    font-weight: bold;
    color: white;
    width: 100%;
}

.hero-text{
    color: rgb(218, 218, 218);
    width: 30%;
}

.sec p{
    max-width: 60dvh;
}

.sec h3{
    font-size: 2rem;
    color:black;
    font-weight: bold;
}

.left h2{
    min-width: 30dvh;
    color: black;
    font-weight: bold;
    font-size: large;
    border-right: 12px solid black;
}

.brand{
    color: rgb(233, 203, 70);
    text-shadow: 12px 12px 24px black;
    font-weight: bold;
    font-size: 4rem;
}

.pill{
    background-color: rgb(239, 239, 239);
    min-width: 30%;
    border-radius: 48px;
    text-align: center;
    box-shadow: 4px 4px 4px grey;
}

.pill button{   
    color: black;
    font-size: medium;
    font-weight: lighter;
    /* width: 20%; */
    /* backdrop-filter: blur(12px); */
    padding: 1rem;
}

.pill button:hover{
    scale: 1.1;
}

.active{
    background-color: rgba(255, 255, 255, 0.75);
    /* border: 2px solid rgba(128, 128, 128, 0.15); */
    box-shadow: 2px 2px 4px grey;
    border-radius: 24px;
    
    
}

.prod-display{
    /* background-color: aqua; */
    width: 50dvh;
    /* height: 50dvh; */
    aspect-ratio: 1/1;
    border-radius: 24px;
    box-shadow: 6px 6px 12px grey;
}

.prod-display:hover{
    scale: 1.05;
}



.hidden{
    display: none;
}

@media (max-width: 600px){
    .left h2{
        min-width: 50dvh;
    }

    .hero h1{
        font-size: 1.5rem;
    }

    .hero p{
        display: none;
    }

    .header{
    font-size: 2.5rem;
}
}